.DS_Store

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# C/C++
*.o
*.out
*.exe
*.a
*.so
*.dylib
*.obj
*.dll
*.lib
*.ko
*.class
*.s
*.run
.vs/
